body {
    font-family: 'Muli', sans-serif;
    font-size: 0.8em;

}


html, body, div { margin: 0; padding: 0; border: 0 none; }
#container {
    width: 96%;
    margin: 0 auto;
    color: #333333;
}
#content {
    width: 56%;
    display: inline-block;
    margin: 0px 1%;
}
#sidebarl {
    width: 18%;
    vertical-align: top;
    display: inline-block;
    margin: 0px auto;
}
#sidebarr {
    width: 22%;
    vertical-align: top;
    display: inline-block;
    margin: 0px auto;
}
#footer { clear: both; }



#logo{
    width: 10%;
    display: inline-block;
    vertical-align: middle;

}

h1{
    color: MidnightBlue;
    font-weight: bolder;
    font-size: 1.1em;
    background-color: rgba(176,196,222,0.5);
    padding: 2px 5px;
    border-bottom-color: MidnightBlue;
    border-bottom: dotted;
    border-bottom-width: thin;
}

h4{
    color: MidnightBlue;
    font-weight: bolder;
    font-size: 1.0em;
    padding: 1px 5px;
    margin: 4px 0;
    border-bottom-color: #666666;
    border-bottom: dotted;
    border-bottom-width: thin;
}

h2{
    background-color: transparent;
    font-size: 1.2em;
    display: inline-block;

}

#header {
    border-color: MidnightBlue;
    border-bottom: dotted;
    border-bottom-width: thin;

}

.bold-title{
    font-weight: 900;
    text-decoration: underline;
    color: MidnightBlue;
    display: inline-block;
}

.arrow{
    opacity: 0.5;
    width: 10%;
    position:absolute;
}

.tailwinds{
   display:inline-block;
    width: 49%;
    vertical-align: top;
}

.headwinds{
    display:inline-block;
    width: 49%;
    vertical-align: top;
}

.descriptiontext{
    font-style: italic;
    overflow: auto;
    height: 100px;

}


.summarybox{
    background-color: #ecf0f9;
    border-radius: 5px;
    font-weight: bolder;
    padding: 3px 0;
}

.sections, #notableviews, #todos{
    overflow: auto;
    height: 250px;
}

.number{
    float: right;
    text-align: right;
    width: 35%;
    font-weight: bolder;
    font-size: 1.0em;
    color: MidnightBlue;
    padding-right: 3%;
}

.number2{
    float: right;
    text-align: right;
    width: 25%;
    font-weight: bolder;
    font-size: 1.0em;
    color: white;
    background-color: #009ccc;
    border-radius: 10px;
    padding-right: 3%;

}
.metric{
    margin-left: 5%;
    padding:1px 0;
    width: 95%;
    display: inline-block;
    text-align: left;
    border-color: LightGray;
    border-bottom-style: solid;
    border-bottom-width: thin;
}

#intrinsic {
    background-color: #f2f2f2;
    border-radius: 3px;
    font-weight: bolder;
}

.metric{
    margin-left: 5%;
    padding:1px 0;
    width: 95%;
    display: inline-block;
    text-align: left;
}

#intrinnormal{
    font-weight: normal;
    font-style: italic;
}

table{
    width: 100%;
    border-color: LightGray;
    border-width: thin;
    border-style: solid;
    margin-bottom: 3px;
    border-collapse:collapse;
    text-align: right;
}

.left{
    text-align: left;
}

th{
    background-color: Gray;
    color: white;
    border: none;
    padding: 0px;
}

tr{

    /*border-bottom-color: LightGray;*/
    /*border-style: solid;*/
    /*border-bottom-width: thin;*/
    padding: 0px;
}

i{
    color:#1ac6ff;
}

.italic{
    font-style: italic;
}
.blue{
    background-color: #F8F8FF;
}

li{
    margin-bottom: 5px;
}

ul {
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 0px;
    margin-top: 0px;
}

#chart{
   width: 100%;
   padding: 0;
   margin: 0;
   
}

.fa-plus-circle{
    float: right;
    color: 	#a5bcd9;
    vertical-align: bottom;
}

.fa-plus-circle:hover{
    color: 	MidnightBlue;
}

.fa-plus-circle:active{
    color: 	#C71585;
}

.close{
    float: right;
    background-color: white;
    color: MidnightBlue;
    border: none;
}

.fa-minus-circle{
    color: 	MidnightBlue;
    font-size: 1.2em;
    
}

.fa-minus-circle:hover{
    color: 	LightSteelBlue;
}

.fa-minus-circle:active{
    color: 	#C71585;
}

input{
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: LightGray;
    font-family: inherit;
}



input[type=text] {
    width: 85%;
}

input[name="tag"] {
    width: 50px;
}

input[name="shareholder"] {
    width: 65%;
}

input[name="indtitle"], input[name="cotitle"], input[name="valtitle"] {
    width: 25%;
}

input[name="indexplanation"], input[name="coexplanation"], input[name="valexplanation"], input[name="compname"] {
    width: 60%;
}

input[name="metricname"] {
    width: 47%;
}

input[type=number], input[name="compticker"]  {
    width: 20%;
}

.fa-check{
    color: YellowGreen;
}

.fa-check:hover{
    background-color: SeaGreen;
    color: white;
}

.submitdata:hover{
    background-color: SeaGreen;
    color: white;
    border-color: SeaGreen;
}

.submitdata{
    border-color:YellowGreen;
    background-color: white;
    border-radius: 19px;
    border-style: solid;
    border-width: 2px;
    padding: 0px 2px 1px 2px;
    float: right;
    
}

.modal-title{
    text-transform: uppercase;
    font-weight: normal;
}

.modal-content{
    border-top-color: LightSteelBlue;
    border-bottom-color: LightSteelBlue;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-width: medium;
    border-top-width: thin;
    padding-bottom: 8px;
    margin-bottom: 5px;
}

.fa-arrow-down{
    border-color: FireBrick;
    color:FireBrick;
    background-color: white;
    border-radius: 19px;
    border-style: solid;
    border-width: 2px;
    padding: 1px 2px 1px 2px;
    display: inline-block;
    opacity: 0.2;
    
}

.fa-arrow-up{
    border-color:SeaGreen;
    color:SeaGreen;
    background-color: white;
    border-radius: 19px;
    border-style: solid;
    border-width: 2px;
    padding: 1px 2px 1px 2px;
    display: inline-block;
    opacity: 0.2;
}

.fa-arrow-up:hover{
    background-color: SeaGreen;
    color:white;
}

.fa-arrow-down:hover{
    background-color: FireBrick;
    color:white;
}




label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + i{ /* IMAGE STYLES */
  cursor:pointer;
  opacity:0.2;
}
label > input:checked + i{ /* (RADIO CHECKED) IMAGE STYLES */
  opacity: 1;
}



.donut{
    font-size: 0.8em;
    width: 32.4%;
    display: inline-block;
    text-transform: uppercase;
    color: LightSlateGray;
    font-weight: bold;
    margin: auto;
}



.donut > span{   
    border-bottom-width: 1px;
    border-bottom-color: LightSlateGray;
    border-bottom-style: dotted;
    width: 100%;
}

.donut > span > .fa-arrow-up{
    color: LightSlateGray;
    border: none;
    opacity: 1;
   
}

.donut > span > .fa-arrow-up:hover{
    color: LightSlateGray;
    background-color: white;
    border: none;
    opacity: 1;
   
}

.fa-caret-up{
    color: LightSlateGray;
}

.fa-caret-down{
    color: LightSlateGray;
}

.author-foot, .fa-star{
    color: LightSlateGray;
    font-style: italic;
    font-weight: bolder;
    text-align: right;
    padding: 0 2px;
}

.highlight{
    /*background-color: #dbe4f0;*/
    font-weight: bolder;
    color: MidnightBlue;
    font-style: italic;
    
}

.author, .date, .stars {
    padding: 0 3px;
    display: inline-block;
}

.fa-star:hover{
    color: #C71585;
}

.summary-bar {
   background-color: #f2f2f2; 
   vertical-align: top;

}

.recomm{
    background-color: #267326;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    text-align: center;
    opacity: 0.7;
    padding: 1px 5px;
    width: 50px;
}

.logo-wrap{
    height: 50px;
}
    
.tag-wrap{
    float: right;
    width: 30%;
    margin-top: 5px;
}

.modalinline{
    display: inline-block;
}

.tag{
    background-color: MidnightBlue;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    text-align: center;
    opacity: 0.7;
    padding: 1px 5px;
    display: inline-block;
    margin: 2px 2px;
}

.add-tag{
    border-radius: 8px;
    color: MidnightBlue;
    border-color: MidnightBlue;
    border-width: thin;
    border-style: solid;
    font-weight: bolder;
    text-align: center;
    opacity: 0.7;
    padding: 1px 8px;
    display: inline-block;
    margin: 2px 2px;
}

.add-tag:hover{
    background-color: MidnightBlue;
    color: white;
}

.reco-arrow{
   
    width: 70px;
}

.under{
    color: #267326;
    font-weight: bolder;
    margin-top: 3px;
    font-style: italic;
}

.recomm-wrapper{
     margin-left: -40px;
     margin-top: 25px;
     vertical-align: top;
     display: inline-block;
      
}

.rate-wrap{
    display: inline-block;
    vertical-align: top;
    text-align: right;
    position: absolute;
    right: 40px;
    padding-right: 40px;
}

.rate{
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-right: -5%;
    text-align: right;
}

.wrap{
    display: inline-block;
}


#IND, #CO, #VAL{
    display: inline-block;
}

.indu, .comp, .valu{
    font-weight: bolder;
    color: MidnightBlue;
    font-size: 1.2em;
    font-stretch: extra-condensed;
    text-transform: uppercase;
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}

.comp{
    color: LightSlateGray;
}

.valu{
    color: CornflowerBlue;
}
